<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nueva Persona</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <form class="d-flex" role="search" th:action="@{/}">
                        <input class="form-control me-2" type="text" name="palabraClave" th:value="${palabraClave}" placeholder="Buscar..." aria-label="Search" required>
                        <input type="submit" class="btn btn-outline-light" value="Buscar">  
                    </form>
                </div>
            </div>
        </nav>
        <br>
        <div class="container">
            <h2 class="text-center">Nueva Persona</h2>
            <h3>Complete el siguiente formulario</h3>
            <form th:action="@{/personas}" th:object="${personas}" method="POST" > <!-- con th object le pasamos el objeto -->
                <div class="form-group mb-3">
                    <label class="form-label">Nombre:</label>
                    <input type="text" name="nombre" th:field="*{nombre}"  class="form-control" placeholder="Ingrese el nombre" autocomplete="off" required>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Apellido:</label>
                    <input type="text" name="nombre" th:field="*{apellido}"  class="form-control" placeholder="Ingrese el apellido" autocomplete="off" required>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">DNI:</label>
                    <input type="text" name="DNI" th:field="*{dni}"  class="form-control" placeholder="Ingrese el dni" autocomplete="off" required>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Teléfono:</label>
                    <input type="text" name="telefono" th:field="*{telefono}"  class="form-control" placeholder="Ingrese el teléfono" autocomplete="off" required>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Email:</label>
                    <input type="email" name="email" th:field="*{email}"  class="form-control" placeholder="Ingrese el teléfono" autocomplete="off" required>
                </div>
                <button class="btn btn-dark mt-3">Agregar Persona</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>
